*{
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    list-style-type: none;
    text-decoration: none;
}

.flex-father {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flex-children {
    width: auto;
    height: 100px;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(69, 69, 73);
    /* flex-wrap: nowrap;
    font-size: 200px;*/
}

nav, ul{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

li{
    margin-left: 4px;
}
